.bottomdiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: rgb(41, 41, 41);
    border: 3px solid rgb(41, 41, 41);
}

.bottomp{
    font-size: 13px;
    text-align: center;
    color: white;
    margin-bottom: 0;
}