@import "tailwindcss";

:root {
  --background: rgb(15 23 42);
  --foreground: rgb(148 163 184);
}

::selection {
  background: rgba(94, 234, 212);
  color: rgba(19, 78, 74);
}

::-moz-selection {
  background: rgba(94, 234, 212);
  color: rgba(19, 78, 74);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.cursor-bg {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(600px at top left, rgba(29, 78, 216, 0.15), transparent 80%);
  transition: background 0.2s ease;
  z-index: 9999;
}