.social-icon-link {
  display: inline-flex;
  padding: 0 10px;
  transition: transform 0.3s ease;
}

.social-icon-img {
  width: 25px; 
  height: 25px;
  border-radius: 50%; 
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  object-fit: cover; /* Ensures the image fills the circular shape */
}

.social-icon-link:hover .social-icon-img {
  filter: grayscale(0%);
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}